body {
    min-height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    overflow: hidden;
}

footer {
  margin-top: auto;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

div:focus {
  outline: none;
  /* Or customize the focus style */
  /* border: 2px solid red; */
}


h1 {
    margin-top: 20px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
}

.card {
    width: 120px;
    height: 180px;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition:
        transform 0.3s ease,
        background-color 0.3s ease;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back {
    background-color: #3498db;
    color: white;
}

.card-front {
    background-color: #2ecc71;
    color: white;
    transform: rotateY(180deg);
}

#score {
    font-size: 18px;
    margin-bottom: 10px;
}

#reset-button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reset-button:hover {
    background-color: #c0392b;
}

#info-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #888;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#info-button span {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 18px;
}


#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#popup.hidden {
    display: none;
}

#popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
    position: relative;
}

#close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #888;
}

#close-popup-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#close-popup-button:hover {
    background-color: #c0392b;
}
